In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

#### Loss function is the main thing that is changing in regression model

In [34]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [35]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [36]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [37]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [38]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [39]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [40]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [41]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [42]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [43]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [44]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [45]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
# loss function is the main thing that is changing in regression model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [46]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [47]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [48]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 100390.7812 - mae: 100390.7812 - val_loss: 98556.2344 - val_mae: 98556.2344
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99734.7734 - mae: 99734.7734 - val_loss: 97199.6094 - val_mae: 97199.6094
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 97350.3281 - mae: 97350.3281 - val_loss: 93676.2734 - val_mae: 93676.2734
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 92598.9844 - mae: 92598.9844 - val_loss: 87714.3359 - val_mae: 87714.3359
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 85537.2656 - mae: 85537.2656 - val_loss: 79854.5859 - val_mae: 79854.5859
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 77041.9766 - mae: 77041.9766 - val_loss: 71376.6172 - val_mae: 71376.6172
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 68474.0938 - mae: 68474.0938 - val_loss: 63584.5508 - val_mae: 63584.5508
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 61148.0000 - mae: 61148.0000 - val_loss: 57528.5781 - val_mae: 57528.5781
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 55929.4375 - mae: 55929.4375 - val_loss: 53756.8945 - val_mae: 53756.8945
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 52810.1562 - mae: 52810.1562 - val_loss: 51849.7422 - val_mae: 51849.7422
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 51254.2422 - mae: 51254.2422 - val_loss: 51092.3594 - val_mae: 51092.3594
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 50616.0977 - mae: 50616.0977 - val_loss: 50856.2891 - val_mae: 50856.2891
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 50367.4609 - mae: 50367.4609 - val_loss: 50771.9023 - val_mae: 50771.9023
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 50239.9922 - mae: 50239.9922 - val_loss: 50717.1289 - val_mae: 50717.1289
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 50162.2656 - mae: 50162.2656 - val_loss: 50687.8594 - val_mae: 50687.8594
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 50108.0508 - mae: 50108.0508 - val_loss: 50643.5234 - val_mae: 50643.5234
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 50057.5625 - mae: 50057.5625 - val_loss: 50617.0312 - val_mae: 50617.0312
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 50015.3867 - mae: 50015.3867 - val_loss: 50594.1562 - val_mae: 50594.1562
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 49979.0195 - mae: 49979.0195 - val_loss: 50558.8672 - val_mae: 50558.8672
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 49951.7852 - mae: 49951.7852 - val_loss: 50542.2695 - val_mae: 50542.2695
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 49918.6602 - mae: 49918.6602 - val_loss: 50523.1016 - val_mae: 50523.1016
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 49892.2148 - mae: 49892.2148 - val_loss: 50499.9492 - val_mae: 50499.9492
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 49867.0547 - mae: 49867.0547 - val_loss: 50487.1016 - val_mae: 50487.1016
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 49842.7031 - mae: 49842.7031 - val_loss: 50465.6875 - val_mae: 50465.6875
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 49819.1289 - mae: 49819.1289 - val_loss: 50455.2266 - val_mae: 50455.2266
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49801.1875 - mae: 49801.1875 - val_loss: 50441.1836 - val_mae: 50441.1836
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 49777.4805 - mae: 49777.4805 - val_loss: 50430.3594 - val_mae: 50430.3594
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49762.2852 - mae: 49762.2852 - val_loss: 50416.8398 - val_mae: 50416.8398
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 49745.1328 - mae: 49745.1328 - val_loss: 50414.8945 - val_mae: 50414.8945
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49727.2969 - mae: 49727.2969 - val_loss: 50407.8320 - val_mae: 50407.8320
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 49712.6562 - mae: 49712.6562 - val_loss: 50403.1992 - val_mae: 50403.1992
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49697.4727 - mae: 49697.4727 - val_loss: 50406.5508 - val_mae: 50406.5508
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 49684.1328 - mae: 49684.1328 - val_loss: 50393.8242 - val_mae: 50393.8242
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 49670.5234 - mae: 49670.5234 - val_loss: 50391.1055 - val_mae: 50391.1055
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 49658.4531 - mae: 49658.4531 - val_loss: 50390.0664 - val_mae: 50390.0664
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49647.9648 - mae: 49647.9648 - val_loss: 50373.4766 - val_mae: 50373.4766
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49637.6562 - mae: 49637.6562 - val_loss: 50378.8438 - val_mae: 50378.8438
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49625.2578 - mae: 49625.2578 - val_loss: 50370.1680 - val_mae: 50370.1680
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49613.1602 - mae: 49613.1602 - val_loss: 50363.6992 - val_mae: 50363.6992
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 49603.3750 - mae: 49603.3750 - val_loss: 50367.4062 - val_mae: 50367.4062
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 49595.0859 - mae: 49595.0859 - val_loss: 50362.6094 - val_mae: 50362.6094
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 49583.4961 - mae: 49583.4961 - val_loss: 50355.8047 - val_mae: 50355.8047
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 49575.0938 - mae: 49575.0938 - val_loss: 50352.7461 - val_mae: 50352.7461
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 49566.1641 - mae: 49566.1641 - val_loss: 50346.6562 - val_mae: 50346.6562
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 49557.8789 - mae: 49557.8789 - val_loss: 50343.0430 - val_mae: 50343.0430
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 49554.6172 - mae: 49554.6172 - val_loss: 50341.1641 - val_mae: 50341.1641
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 49543.6133 - mae: 49543.6133 - val_loss: 50345.3398 - val_mae: 50345.3398
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 49535.8711 - mae: 49535.8711 - val_loss: 50347.2930 - val_mae: 50347.2930
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 49528.0391 - mae: 49528.0391 - val_loss: 50335.2383 - val_mae: 50335.2383
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 49519.4844 - mae: 49519.4844 - val_loss: 50342.2656 - val_mae: 50342.2656
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49517.4727 - mae: 49517.4727 - val_loss: 50322.9570 - val_mae: 50322.9570
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 49506.2891 - mae: 49506.2891 - val_loss: 50329.7031 - val_mae: 50329.7031
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 49500.8320 - mae: 49500.8320 - val_loss: 50318.6836 - val_mae: 50318.6836
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 49493.9297 - mae: 49493.9297 - val_loss: 50318.7930 - val_mae: 50318.7930
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 49489.0156 - mae: 49489.0156 - val_loss: 50316.0000 - val_mae: 50316.0000
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 49480.4844 - mae: 49480.4844 - val_loss: 50320.9219 - val_mae: 50320.9219
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 49478.1523 - mae: 49478.1523 - val_loss: 50323.1992 - val_mae: 50323.1992
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 49471.2461 - mae: 49471.2461 - val_loss: 50316.8672 - val_mae: 50316.8672
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 49464.4297 - mae: 49464.4297 - val_loss: 50317.6367 - val_mae: 50317.6367
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 49459.9648 - mae: 49459.9648 - val_loss: 50313.6953 - val_mae: 50313.6953
Epoch 61/100
250/250 [==============================] - 1s 2ms/step - loss: 49454.8281 - mae: 49454.8281 - val_loss: 50312.7227 - val_mae: 50312.7227
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 49451.2109 - mae: 49451.2109 - val_loss: 50308.0977 - val_mae: 50308.0977
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 49446.5078 - mae: 49446.5078 - val_loss: 50296.9062 - val_mae: 50296.9062
Epoch 64/100
250/250 [==============================] - 1s 2ms/step - loss: 49439.9648 - mae: 49439.9648 - val_loss: 50302.4062 - val_mae: 50302.4062
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 49437.0625 - mae: 49437.0625 - val_loss: 50301.6211 - val_mae: 50301.6211
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 49430.3750 - mae: 49430.3750 - val_loss: 50298.8906 - val_mae: 50298.8906
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 49427.8398 - mae: 49427.8398 - val_loss: 50292.5156 - val_mae: 50292.5156
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 49422.7461 - mae: 49422.7461 - val_loss: 50302.8867 - val_mae: 50302.8867
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 49418.5547 - mae: 49418.5547 - val_loss: 50299.8984 - val_mae: 50299.8984
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 49415.8945 - mae: 49415.8945 - val_loss: 50305.7969 - val_mae: 50305.7969
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 49411.7305 - mae: 49411.7305 - val_loss: 50296.5039 - val_mae: 50296.5039
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 49407.6211 - mae: 49407.6211 - val_loss: 50297.1328 - val_mae: 50297.1328
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 49400.3203 - mae: 49400.3203 - val_loss: 50295.7148 - val_mae: 50295.7148
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 49398.3555 - mae: 49398.3555 - val_loss: 50283.9492 - val_mae: 50283.9492
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 49393.0391 - mae: 49393.0391 - val_loss: 50293.6953 - val_mae: 50293.6953
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 49390.9648 - mae: 49390.9648 - val_loss: 50292.2383 - val_mae: 50292.2383
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 49385.8711 - mae: 49385.8711 - val_loss: 50298.0078 - val_mae: 50298.0078
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 49384.6641 - mae: 49384.6641 - val_loss: 50290.0469 - val_mae: 50290.0469
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 49380.9688 - mae: 49380.9688 - val_loss: 50289.7070 - val_mae: 50289.7070
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 49374.7422 - mae: 49374.7422 - val_loss: 50287.6367 - val_mae: 50287.6367
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 49373.5703 - mae: 49373.5703 - val_loss: 50291.5859 - val_mae: 50291.5859
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 49368.7773 - mae: 49368.7773 - val_loss: 50293.1367 - val_mae: 50293.1367
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 49364.1250 - mae: 49364.1250 - val_loss: 50286.6875 - val_mae: 50286.6875
Epoch 84/100
250/250 [==============================] - 1s 2ms/step - loss: 49363.9102 - mae: 49363.9102 - val_loss: 50294.5664 - val_mae: 50294.5664

In [49]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [50]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 33328), started 0:01:07 ago. (Use '!kill 33328' to kill it.)

In [51]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 1ms/step - loss: 50283.9492 - mae: 50283.9492
Test MAE : 50283.94921875

In [52]:
model.save('regression_model.h5')

c:\Users\sanaz\Gen_AI_Udemy\python\11.DeepLearning_project\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(